
.main {
    min-width: 300px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 40px;
    text-align: center;

    .duck {
        background-image: url(./Duck.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 50%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .counter {
        font-weight: bold;
        color: green;

        &.odd {
            color: red;
        }
    }
}
